.MyPost {
    padding: 20px 0px 0px 15px;

    &__title {
        font-size: 20px;
        font-weight: 700;
        padding: 15px 0px;
    }

    &__wrapperTextarea {
        padding: 15px 0px;
    }

    &__textarea {
        
    }

    &__wrapperButton {
        padding: 0 0 40px 20px;
    }

    &__button {
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-weight: 800;
        background-color: #E79318;
    }
}
